In [1]:
import sys

#define a raiz do projeto par aser possivel importar os modulos
sys.path.append("../../src")

def restart_django():
    import os
    import sys
    import django
    #define a raiz do projeto par aser possivel importar os modulos
    sys.path.append("../../src") 

    #configura o ambiente
    os.environ.setdefault("DJANGO_SETTINGS_MODULE", "ict_empresa.settings")
    os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
    django.setup()
restart_django()

Um dos objetivos do jupyter é "brincar" e entender o que foi feito e fazer testes preliminares. Até para ajudar a criar métodos mais complexos...vejam aqui como testamos a classe pessoa (Person, do arquivo `person.py`) e a classe EyeColor (do arquivo `models.py`). Não esqueça de **reiniciar o kernel caso tenha mudado algo no código**.

In [2]:
from productivity_view.models import *

In [4]:
#veja que as cores dos olhos são automaticamente inseridas e é facil ve-las
EyeColor.objects.all()

In [19]:
#caso queira visualizar de forma mais bonitinha, 
#transforme numa lista de dicionario de valores
#e use o pandas
import pandas as pd
eyes_list = EyeColor.objects.all().values()
list(eyes_list)

[{'id': 1, 'color_name': 'Amber'},
 {'id': 2, 'color_name': 'Hazel'},
 {'id': 3, 'color_name': 'Blue'},
 {'id': 4, 'color_name': 'Green'},
 {'id': 5, 'color_name': 'Brown'},
 {'id': 6, 'color_name': 'Dark Brown'}]

In [20]:
pd.DataFrame.from_dict(eyes_list)

   id  color_name
0   1       Amber
1   2       Hazel
2   3        Blue
3   4       Green
4   5       Brown
5   6  Dark Brown

In [ ]:
Também é possivel brincar com inserções e métodos que fizemos das classes:

In [3]:
cor_azul = EyeColor.objects.get(color_name=EyeColor.BLUE)
Person.objects.create(name="Adamastor",age=12, eye_color=cor_azul)

Name: Adamastor age: 12 Eye color: Blue

In [4]:
Person.objects.all()

In [3]:
Person.objects.create_from_csv("../../data/tests/person.csv")

In [7]:
import pandas as pd
#ao buscar, seleciona apenas o nome, a cor do olho (pelo seu nome) e a idade
person_list = Person.objects.all().values("name","eye_color__color_name","age")
pd.DataFrame.from_dict(person_list)

        name eye_color__color_name  age
0  Adamastor                  Blue   12
1      Alice                 Green   30
2        Bob                  Blue   11
3      Carol                 Green   23
4     Daniel                 Brown   12